<!DOCTYPE html>
<html>
<head>
	<title>My portfolio</title>
</head>
<body>
	<h1>name <%= name %> <%= surname %></h1>
    <p>age <%= age %></p>
    <p>location <%= location %></p>
</body>
</html>