.confirmdeleteallfiles{
    height: 100vh;
    width: 100%;
    background: azure;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.confirmdeleteallfiles div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.confirmdeleteallfiles .cancel{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 2rem;
}