.confirmlogout{
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.confirmlogout .content{
    background-color: green;
    width: 350px;
}

.confirmlogout .confirm-nav{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.confirmlogout .question{
    padding: 40px;
}

.confirmlogout button{
    width: fit-content;
    padding: 0px 20px;
}