.portfoliohome{
    height: 85vh;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfoliohome a{
    margin: 10px;
}